<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="{{meta.author}}" />
  {{#if meta.description}}
    <meta name="description" content="{{meta.description}}">
  {{else}}
    {{#if extra.description}}<meta name="description" content="{{stripNewlines extra.description}}">{{/if}}
  {{/if}}
  <meta name="keywords" content="{{join "," (split ";" meta.tags)}}" />
  <meta name="generator" content="https://github.com/CodedSakura/bog" />
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#e8e" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#808" />
  <meta name="color-scheme" content="dark light" />
  <title>{{extra.title}} - Bog.CodedSakura.dev</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="icon" type="image/svg" href="/favicon.svg" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
<header>
  #{{meta.number}}<br/>
  author: {{meta.author}}<br/>
  part of projects: {{#each (split ";" meta.projects)}}<a href="/projects/{{this}}">{{this}}</a> {{/each}}<br/>
  started on: {{meta.started_on}}<br/>
  {{#if meta.published}}published: {{meta.published_on}}<br/>{{/if}}
  last update: {{meta.last_updated_on}}<br/>
  tags: {{#each (split ";" meta.tags)}}<a href="/tags/{{this}}">{{this}}</a> {{/each}}<br/>
  permalink: <a href="{{meta.permalink}}">{{meta.permalink}}</a>
</header>
<article>
  {{{content}}}
</article>
<footer>
</footer>
</body>
</html>
